bin/
filesHandler/transitions/typo3Transitions.xml
*.xml
*.txt
*.txt
filesHandler/output/phpBB_Assessment1.txt
filesHandler/output/atlas_Assessment2.txt
filesHandler/output/atlas_Assessment1.txt
filesHandler/output/atlas_Assessment1.txt
lala.csv
CheckExternalValidity.xlsx
Clustering notes.docx
*.xlsx